n8n/pushinpay-2-pix-pago-libera-vip.json
{
  "name": "PushinPay — PIX pago → link VIP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pushinpay-pix-paid",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e0-2222-5bbb-9ccc-000000000001",
      "name": "Webhook PushinPay pago",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "pushinpay-pix-paid-vip"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c-paid",
              "leftValue": "={{ $json.body?.status != null ? $json.body.status : $json.status }}",
              "rightValue": "paid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e0-2222-5bbb-9ccc-000000000002",
      "name": "Status é paid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = process.env.VIP_UNLOCK_SECRET;\nif (!secret || String(secret).trim() === '') {\n  throw new Error('Defina VIP_UNLOCK_SECRET no n8n (igual à Vercel).');\n}\nconst ttlMs = 30 * 24 * 60 * 60 * 1000;\nconst exp = Date.now() + ttlMs;\nconst payload = Buffer.from(JSON.stringify({ exp }), 'utf8').toString('base64url');\nconst sig = crypto.createHmac('sha256', String(secret).trim()).update(payload).digest('base64url');\nconst token = `${payload}.${sig}`;\nlet siteBase = String(process.env.VIP_SITE_BASE || 'https://perfilcarol.vercel.app').trim();\nwhile (siteBase.endsWith('/')) siteBase = siteBase.slice(0, -1);\nconst vipGrantLink = `${siteBase}/api/vip/grant?t=${encodeURIComponent(token)}`;\nconst item = $input.first().json;\nconst body = item.body && typeof item.body === 'object' ? item.body : item;\nreturn [{\n  json: {\n    vipGrantLink,\n    transacaoId: body.id,\n    value: body.value,\n    status: body.status,\n    end_to_end_id: body.end_to_end_id || null\n  }\n}];\n"
      },
      "id": "b2c3d4e0-2222-5bbb-9ccc-000000000003",
      "name": "Gerar link libera VIP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, -80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, received: true }) }}",
        "options": {}
      },
      "id": "b2c3d4e0-2222-5bbb-9ccc-000000000004",
      "name": "Responde 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [780, -80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, ignored: true }) }}",
        "options": {}
      },
      "id": "b2c3d4e0-2222-5bbb-9ccc-000000000005",
      "name": "Responde 200 (ignorado)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [520, 120]
    },
    {
      "parameters": {
        "content": "## Webhook Pushin Pay (pagamento)\n\nA URL deste webhook deve estar em `N8N_WEBHOOK_PUSHINPAY_PAID` no workflow **Gerar PIX**.\n\n### Variáveis de ambiente\n- `VIP_UNLOCK_SECRET` — **o mesmo** da Vercel (`lib/vip-access.js`).\n- `VIP_SITE_BASE` — opcional; padrão `https://perfilcarol.vercel.app`.\n\n### Depois do node \"Gerar link\"\nLigue **WhatsApp / Evolution API / e-mail** usando `{{ $json.vipGrantLink }}` para enviar o link ao cliente.\n\n### Code node\nPrecisa do módulo `crypto` (habilitado por padrão no n8n).",
        "height": 380,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1000, -140],
      "typeVersion": 1,
      "id": "b2c3d4e0-2222-5bbb-9ccc-000000000006",
      "name": "Notas VIP"
    }
  ],
  "connections": {
    "Webhook PushinPay pago": {
      "main": [[{ "node": "Status é paid?", "type": "main", "index": 0 }]]
    },
    "Status é paid?": {
      "main": [
        [
          { "node": "Gerar link libera VIP", "type": "main", "index": 0 }
        ],
        [
          { "node": "Responde 200 (ignorado)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Gerar link libera VIP": {
      "main": [[{ "node": "Responde 200 OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
