n8n/pushinpay-1-gerar-pix-checkout.json
{
  "name": "PushinPay — Gerar PIX (checkout)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pix-push",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1b2c3d0-1111-4aaa-8bbb-000000000001",
      "name": "Webhook Chamar Pix",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "pix-push-checkout-pushinpay"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "v1",
              "name": "id_lead",
              "value": "={{ $json.body?.id != null ? String($json.body.id) : '' }}",
              "type": "string"
            },
            {
              "id": "v2",
              "name": "value",
              "value": "={{ $json.body?.value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d0-1111-4aaa-8bbb-000000000002",
      "name": "Variáveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushinpay.com.br/api/pix/cashIn",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.PUSHINPAY_BEARER_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($env.N8N_WEBHOOK_PUSHINPAY_PAID && String($env.N8N_WEBHOOK_PUSHINPAY_PAID).trim() !== '' ? { value: Number($('Variáveis').item.json.value) || 1000, webhook_url: String($env.N8N_WEBHOOK_PUSHINPAY_PAID).trim() } : { value: Number($('Variáveis').item.json.value) || 1000 }) }}",
        "options": {}
      },
      "id": "a1b2c3d0-1111-4aaa-8bbb-000000000003",
      "name": "GerarPix PushinPay",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ qr_code: $json.qr_code, qr_code_base64: $json.qr_code_base64, id: $json.id }) }}",
        "options": {}
      },
      "id": "a1b2c3d0-1111-4aaa-8bbb-000000000004",
      "name": "Responde Pix",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 0]
    },
    {
      "parameters": {
        "content": "## PushinPay — Gerar PIX (checkout)\n\n### 1) Variável PUSHINPAY_BEARER_TOKEN (Easypanel / Docker n8n)\n- **Nome da variável:** exatamente `PUSHINPAY_BEARER_TOKEN`\n- **Valor:** o token **inteiro** da Pushin Pay (ex.: `12345|abcdef...`), **sem** a palavra `Bearer`.\n\n### 2) Header Authorization neste node (Expression)\nUse **só**:\n`Bearer {{ $env.PUSHINPAY_BEARER_TOKEN }}`\n\n**ERRADO** (dá invalid syntax):\n- `Bearer {{ $env.64287|... }}` — não existe variável com nome `64287|...`\n- Colar o token dentro de `{{ }}`\n\n**Certo:** o token fica **só** no valor da env; aqui só referencias o **nome** `PUSHINPAY_BEARER_TOKEN`.\n\n### 3) Não confundir com VIP_UNLOCK_SECRET\n- `PUSHINPAY_BEARER_TOKEN` = API Pushin Pay (este fluxo + Vercel check-pix).\n- `VIP_UNLOCK_SECRET` = cookie VIP no **site** (Vercel); no n8n só no fluxo «PIX pago → link».\n\n### 4) N8N_WEBHOOK_PUSHINPAY_PAID\nOpcional. Se vazio, o body só envia `value` (ok para polling no checkout).\n\n### 5) Workflow **Active** + node Responde Pix\nSem token ou com erro na API, o fluxo não chega ao Respond → checkout mostra «resposta vazia».\n\n### Vercel\n`PUSHINPAY_BEARER_TOKEN`, `VIP_UNLOCK_SECRET`. Polling ~61s.",
        "height": 560,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [960, -120],
      "typeVersion": 1,
      "id": "a1b2c3d0-1111-4aaa-8bbb-000000000005",
      "name": "Notas"
    }
  ],
  "connections": {
    "Webhook Chamar Pix": {
      "main": [[{ "node": "Variáveis", "type": "main", "index": 0 }]]
    },
    "Variáveis": {
      "main": [[{ "node": "GerarPix PushinPay", "type": "main", "index": 0 }]]
    },
    "GerarPix PushinPay": {
      "main": [[{ "node": "Responde Pix", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
